<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
   
    <link rel="stylesheet" href="style.css">
  </head>
  <body>
    <script src="index.js"></script>
    <h1>90 Mins or Less</h1>

    <h2>{{movie_title}}</h2><br>
    
    
    <img src="{{poster}}">

    <h3>{{year}}</h3>
    <h3>{{runtime}}</h3>
    <p>{{plot}}</p>
    </form>
  </body>
</html>
